p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.fig-input {
	background: #C6E6D7;
    border-radius: 20px;
	padding-top: 10px;
}

.fig-input:before {
    content: "Input";
  	margin-left: 3px;
	background: #60E8A8;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-size: 80%;
	float: left;
	font-weight: bold;
}

.fig-output {
	background: #C7CEE8;
	border-radius: 20px;
	padding-top: 10px;
}

.fig-output:before {
    content: "Output";
	margin-left: 3px;
	background: #28A0E0;
	padding: 5px 15px 5px 15px;
	border-radius: 10px;
	font-size: 80%;
	float: left;
	font-weight: bold;
}


.mermaid .actor {
	font-size: 150% !important;
}


.mermaid .messageText {
	font-size: 150% !important;
}


.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
} 
.rmdcaution {
  background-image: url("images/caution.png");
}
.rmdimportant {
  background-image: url("images/important.png");
}
.rmdnote {
  background-image: url("images/note.png");
}
.rmdtip {
  background-image: url("images/tip.png");
}
.rmdwarning {
  background-image: url("images/warning.png");
}